* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: BarlowSemiCondensed;
    src: url(fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: BarlowSemiCondensed-bold;
    src: url(fonts/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: BarlowSemiCondensed-Light;
    src: url(fonts/BarlowSemiCondensed-Light.ttf);
}
.section{
    display: flex;
    margin: 5%;

}
.left-side{
    width: 75%;

}
.right-side{
    width: 25%;
}

.profile {
    display: flex;
    gap: 19px;
    align-items: center;
    margin-bottom: 19px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        
    }

    h2 {
        font-family: BarlowSemiCondensed;
        font-size: 16px;

    }

    h3 {
        font-family: BarlowSemiCondensed-Light;
        font-size: 12px;
    }



}
.fist-row{
    display: flex;
}
.second-row{
    display: flex;

}
.container{
box-shadow: 6px 2px 100px rgba(0, 0, 0, 0.5);

}
#container1 {
    margin: 23px;
    width: 75%;
    height: auto;
    background-color: hsl(263, 55%, 52%);
    padding: 35px;
    border-radius: 12px;
    
}
#container2 {
    margin: 23px;
    width: 25%;
    height: auto;
    background-color: hsl(217, 19%, 35%);
    padding: 35px;
    border-radius: 12px;
}
#container3 {
    margin: 23px;
    width: 25%;
    height: auto;
    background-color: white;
    padding: 35px;
    border-radius: 12px;
}
#container4 {
    margin: 23px;
    width: 75%;
    height: auto;
    background-color: hsl(219, 29%, 14%);
    padding: 35px;
    border-radius: 12px;
}
#container5 {
    margin: 23px;
    
    height: auto;
    background-color: white;
    padding: 35px;
    border-radius: 12px;
}

#p1 {
    font-family: BarlowSemiCondensed-bold;
    font-size: 20px;
    
}

#p2 {
    font-family: BarlowSemiCondensed;
    font-size: 16px;
}
#p3 {
    font-family: BarlowSemiCondensed-bold;
    font-size: 20px;
}

#p4 {
    font-family: BarlowSemiCondensed;
    font-size: 16px;
}
#p5 {
    font-family: BarlowSemiCondensed-bold;
    font-size: 20px;
    color: hsl(217, 19%, 35%);
    
}

#p6 {
    font-family: BarlowSemiCondensed;
    font-size: 16px;
    color: hsl(217, 19%, 35%);

}
#profile3 h2,#profile3 h3{
    color: hsl(217, 19%, 35%);

}
#p7 {
    font-family: BarlowSemiCondensed-bold;
    font-size: 20px;
}

#p8 {
    font-family: BarlowSemiCondensed;
    font-size: 16px;
}
#p9 {
    font-family: BarlowSemiCondensed-bold;
    font-size: 20px;
    color: hsl(217, 19%, 35%);

}

#p10 {
    font-family: BarlowSemiCondensed;
    font-size: 16px;
    color: hsl(217, 19%, 35%);

}
#profile5 h2, #profile5 h3{
    color: hsl(217, 19%, 35%);
    
}
.profile-text {
    display: flex;
    flex-direction: column;
    gap:15px;

}
